#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.App{
  
}
.result {
  position: absolute;
  top: 50vh;
  left: 35vw;
  margin: 0 auto;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2rem;
  text-align: center;
}

.result h2 {
  color: white;
  font-size: 4rem;
}
.lose {
  background: rgb(255, 48, 48);
}

.win {
  background: rgb(26, 197, 26);
}


.keyboard {
  background-color: rgb(170, 169, 169);
  border-radius: 8px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 5px;
  width: 50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
